<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Sample app</title>
    <link rel="stylesheet" href="wi-layout-container_static_ex.css">
    <link rel="import" href="packages/polymer/polymer.html">

    <link rel="import" href="packages/webide/layout/wi-layout-container.html">
    <script type="application/dart;component=1" src="wi-layout-container_static_ex.dart"></script>
    <script src="packages/browser/dart.js"></script>
  </head>
  <body>
    <div id="vertical-layout-holder" class="holder">
      <wi-layout-container id="vertical-layout" vertical>
        <wi-layout-container id="vl_1" vertical>
        </wi-layout-container>
        <wi-layout-container id="vl_2" vertical=false>
        </wi-layout-container>
        <wi-layout-container id="vl_3" vertical>
        </wi-layout-container>
      </wi-layout-container>
    </div>
    <div id="horizontal-layout-holder" class="holder">
      <wi-layout-container id="horizontal-layout">
        <wi-layout-container id="v2_1" vertical>
        </wi-layout-container>
        <wi-layout-container id="v2_2" vertical=false>
        </wi-layout-container>
        <wi-layout-container id="v2_3" vertical>
        </wi-layout-container>
      </wi-layout-container>
    </div>
  </body>
</html>